<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome <%=data1[0].fname%></title>

  <!-- css -->
  <link rel="stylesheet" href="css/dashboard.css">

  <!-- bootstrap -->
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- fonts -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Bootstrap Date-Picker Plugin -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

  <!-- custom script -->
  <script>
    $(document).ready(function() {
      var date_input = $('input[id="consult-date"]'); //our date input has the name "date"
      var container = "body";
      var options = {
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
        startDate: new Date(),
        endDate: '+10d'
      };
      date_input.datepicker(options);

      let userid = '<%-data1[0].userid%>';
      $('#update-userid').val(userid);
      let flag = '<%-data5.length%>';
      if (flag > 0) {
        let docid = '<%-data5[0].docid%>';
        $('#update-doc').val(docid);
      }
    });

    function sendPid(data) {
      document.getElementById("patientid").value = data.pid;
      document.getElementById("consultdate2").value = data.cdate;
    }

    function sendMid(data) {
      document.getElementById("memid").value = data;
    }
  </script>

</head>

<body>

  <div class="style=" overflow-x: hidden;"">

    <main style="background-color: #4E7690;">
      <div class="container p-0 py-5 ">
        <div class="row p-2 corner" style="background-color: #89A5B8;">

          <div class="col-md-4 col-sm-6 col-12 fix-h corner" style="background-color: whitesmoke;">

            <!-- Personal Details -->
            <div class="container pt-3">
              <img class="img-fluid" src="images/64495.png" alt="Profile Image">
              <br />
              <center>
                <p><b>User Id : </b>
                  <i><%=data1[0].userid%></i>
                </p>
                <h3><% if(data5[0].docid.length>0) { %>Dr. <% } %><%=data1[0].fname%> <%=data1[0].lname%></h3>
              </center>

              <br>
              <p><b>Phone : </b>
                <i><%=data1[0].phno%></i>
              </p>

              <br>
              <p><b>Email: </b>
                <i><%=data1[0].email%></i>
              </p>
              <br>
              <p><b>DOB : </b>
                <i><%=data1[0].dob.toISOString().substring(0, 10)%></i>
              </p>
              <br>
              <p><b>Address : </b>
                <i><%=data1[0].stno%>, <%=data1[0].stname%>, <%=data1[0].city%>, <%=data1[0].state%>: <%=data1[0].zipcode%></i>
              </p>

              <br>
              <p><b>Gender : </b>
                <i><%=data1[0].gender%></i>
              </p>

              <div class="container mb-5">
                <button type="button" class="float-right btn btn-danger mx-1 btn-outline mt-1" data-toggle="modal" data-target="#update-user">Update</button>
              </div>

            </div>
          </div>

          <div class="col-md-7 offset-md-1 col-sm-6 col-12 fix-h over corner">

            <div class="container mb-5">
              <a href="logout"><button type="click" class="float-right btn btn-danger mx-1 btn-outline mt-1">Logout</button></a>
            </div>

            <div class="container ">

              <!-- Patients Details -->
              <% if(data5[0].docid.length>0) { %>
              <div class="container my-4 myborder">
                <h3>My Patients</h3>
                <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Sr No</th>
                        <th scope="col">Consult Date</th>
                        <th scope="col">Patient Id</th>
                        <th scope="col">Prescription</th>
                        <th scope="col">Medical Test(s)</th>
                        <th scope="col">Diagnosis</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%
                        if(data6.length>0) {
                          var i=1;
                          data6.forEach(function(data) {
                      %>
                      <tr>
                        <td><%= i %></td>
                        <td><%= data.cdate.toISOString().substring(0, 10) %></td>
                        <td><%= data.pid %></td>
                        <td><%= data.prescriptions %></td>
                        <td><%= data.medtests %></td>
                        <td><% if(data.diagnosis=='') { %>
                          <button type="button" class="btn btn-danger mx-1 btn-outline mt-1" data-toggle="modal" data-target="#consult" onclick="sendPid({ pid: <%= data.pid %>, cdate: <%= data.cdate %> })">Consult</button>
                          <% } else { %>
                          <%= data.diagnosis %>
                          <% } %>
                        </td>
                      </tr>
                      <% i++; }) %>
                      <% } else { %>
                      <td>No Data Found</td>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
              <% } %>

              <!-- Family Members -->
              <div class="container my-4 myborder">
                <h3>My Family Members</h3>
                <div class="container mb-5">
                  <button type="button" class="btn btn-danger mx-1 btn-outline mt-1" data-toggle="modal" data-target="#add-family">Add Members</button>
                </div>
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Sr No</th>
                      <th scope="col">UserId</th>
                      <th scope="col">Relation</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%
                    if(data4.length>0) {
                      var i=1;
                      data4.forEach(function(data) {
                  %>
                    <tr>
                      <td><%= i %></td>
                      <td><%= data.memberid %></td>
                      <td><% if(data.type=='') { %>
                        <button type="button" class="btn btn-danger mx-1 btn-outline mt-1" data-toggle="modal" data-target="#add-relation" onclick="sendMid(<%=data.memberid%>)">Add Relation</button>
                        <% } else { %>
                        <%= data.type %>
                        <% } %>
                      </td>
                    </tr>
                    <% i++; }) %>
                    <% } else { %>
                    <td>No Data Found</td>
                    <% } %>
                  </tbody>
                </table>
              </div>

              <!--Basic Medical History -->
              <div class="container my-4 myborder ">
                <h3>My Basic Medical Details</h3>
                <% if(data2.length>0) { %>
                <p><b>Weight : </b>
                  <i><%=data2[0].weight%> kg</i>
                </p>
                <p><b>Height: </b>
                  <i><%=data2[0].height%> cm</i>
                </p>
                <p><b>Blood Pressure : </b>
                  <i><%=data2[0].bp%> mmHg</i>
                </p>
                <p><b>Blood Group : </b>
                  <i><%=data2[0].bldgrp%></i>
                </p>
                <p><b>Allergies : </b>
                  <i><%=data2[0].allergies%></i>
                </p>
                <% } else { %>
                <p>Data Not Found</p>
                <% } %>
                <div class="container mb-5">
                  <button type="button" class="float-right btn btn-danger mx-1 btn-outline mt-1" data-toggle="modal" data-target="#update-history">Update</button>
                </div>
              </div>

              <!-- Medical History -->
              <div class="container my-4 myborder">
                <div class="row">
                  <div class="container">
                    <h3>My Medical History</h3>
                  </div>
                </div>

                <div class="container mb-5">
                  <button type="button" class="btn btn-danger mx-1 btn-outline mt-1" data-toggle="modal" data-target="#book-appointment">Book Appointment</button>
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Sr No</th>
                        <th scope="col">Consult Date</th>
                        <th scope="col">Doctor Id</th>
                        <th scope="col">Prescription</th>
                        <th scope="col">Medical Test(s)</th>
                        <th scope="col">Diagnosis</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%
                      if(data3.length>0) {
                        var i=1;
                        data3.forEach(function(data) {
                    %>
                      <tr>
                        <td><%= i %></td>
                        <td><%= data.cdate.toISOString().substring(0, 10) %></td>
                        <td><%= data.docid %></td>
                        <td><%= data.prescriptions %></td>
                        <td><%= data.medtests %></td>
                        <td><%= data.diagnosis %></td>
                      </tr>
                      <% i++; }) %>
                      <% } else { %>
                      <td>No Data Found</td>
                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- Professional Details -->
              <% if(data5[0].docid.length>0) { %>
              <div class="container my-4 myborder">
                <h3>Professional Details</h3>
                <p><b>Licence No : </b>
                  <i><%=data5[0].docid%></i>
                </p>
                <p><b>Qualification: </b>
                  <i><%=data5[0].qualification%></i>
                </p>
                <p><b>Hospital : </b>
                  <i><%=data5[0].hospital%></i>
                </p>
                <p><b>Department : </b>
                  <i><%=data5[0].department%></i>
                </p>
                <div class="container mb-5">
                  <button type="button" class="float-right btn btn-danger mx-1 btn-outline mt-1" data-toggle="modal" data-target="#update-professional-details">Update</button>
                </div>
              </div>
              <% } %>

            </div>
          </div>
        </div>
      </div>
    </main>

  </div>

  <div id="update-user" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body">
          <form method="post" action="update_personal">

            <!-- User Details -->
            <div class="modal-header">
              <h3 class="modal-title">Update User Details</h3>
            </div>

            <!-- USER ID-->
            <div class="form-row">

              <div class="form-group col-md-6">
                <label>UserID</label>
                <input class="form-control" id="update-userid" name="userid" type="text" readonly>
              </div>

              <!-- OLD PASSWORD -->
              <div class="form-group col-md-6">
                <label>Old Password:</label>
                <input type="password" name="old_pass" class="form-control">
              </div> <!-- form-group end.// -->

            </div>

            <div class="form-row">

              <!-- NEW PASSWORD -->
              <div class="form-group col-md-6">
                <label>New Password:</label>
                <input type="password" name="new_pass" class="form-control">
              </div> <!-- form-group end.// -->

              <!-- NEW PASSWORD CONFIRM-->
              <div class="form-group col-md-6">
                <label>Confirm New Password:</label>
                <input type="password" name="confirm_pass" class="form-control">
              </div><!-- form-group end.// -->

            </div> <!-- form-row.// -->

            <!-- Personal Details -->
            <div class="modal-header">
              <h3 class="modal-title">Update Personal Details</h3>
            </div>

            <!-- PHONE NUMBER-->
            <div class="form-row">

              <div class="form-group col-md-6">
                <label>Phone Number</label>
                <input type="text" name="phno" class="form-control">
              </div> <!-- form-group end.// -->

              <!-- EMAIL-->
              <div class="form-group col-md-6">
                <label>Email address</label>
                <input type="email" name="email" class="form-control">
              </div> <!-- form-group end.// -->
            </div> <!-- form-row.// -->

            <!-- Address details -->
            <div class="form-row">

              <div class="modal-header">
                <h3 class="modal-title">Update Address Details</h3>
              </div>

            </div> <!-- form-row.// -->

            <!-- CITY (PATIENT)-->
            <div class="form-row">

              <!-- STREET NO-->
              <div class="form-group col-md-2">
                <label>St. No.</label>
                <input type="text" name="stno" class="form-control">
              </div><!-- form-group end.// -->

              <!-- STREET NAME -->
              <div class="form-group col-md-4">
                <label>St. Name</label>
                <input type="text" name="stname" class="form-control">
              </div><!-- form-group end.// -->

              <div class="form-group col-md-6">
                <label>City</label>
                <input type="text" name="city" class="form-control">
              </div> <!-- form-group end.// -->

            </div> <!-- form-row.// -->

            <div class="form-row">

              <!-- STATE(STAETE)-->
              <div class="form-group col-md-6">
                <label>State</label>
                <select name="state" class="form-control">
                  <option selected=""> Choose...</option>

                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                  <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                  <option value="Assam">Assam</option>
                  <option value="Bihar">Bihar</option>
                  <option value="Chandigarh">Chandigarh</option>
                  <option value="Chhattisgarh">Chhattisgarh</option>
                  <option value="Dadra and Nagar Haveli andDaman & Diu">Dadra and Nagar Haveli andDaman & Diu</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Goa">Goa</option>
                  <option value="Gujarat">Gujarat</option>
                  <option value="Haryana">Haryana</option>
                  <option value="Himachal Pradesh">Himachal Pradesh</option>
                  <option value="Jammu & Kashmir">Jammu & Kashmir</option>
                  <option value="Jharkhand">Jharkhand</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Ladakh">Ladakh</option>
                  <option value="Lakshadweep">Lakshadweep</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Manipur">Manipur</option>
                  <option value="Meghalaya">Meghalaya</option>
                  <option value="Mizoram">Mizoram</option>
                  <option value="Nagaland">Nagaland</option>
                  <option value="Odisha">Odisha</option>
                  <option value="Puducherry">Puducherry</option>
                  <option value="Punjab">Punjab</option>
                  <option value="Rajasthan">Rajasthan</option>
                  <option value="Sikkim">Sikkim</option>
                  <option value="Tamil Nadu">Tamil Nadu</option>
                  <option value="Telangana">Telangana</option>
                  <option value="Tripura">Tripura</option>
                  <option value="Uttarakhand">Uttarakhand</option>
                  <option value="Uttar Pradesh">Uttar Pradesh</option>
                  <option value="West Bengal">West Bengal</option>

                </select>
              </div> <!-- form-group end.// -->

              <!-- PIN CODE-->
              <div class="form-group col-md-6">
                <label>Pin Code</label>
                <input type="text" name="zipcode" class="form-control">
              </div> <!-- form-group end.// -->

            </div> <!-- form-row.// -->

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary"> Update </button>
            </div> <!-- form-group// -->

          </form>

        </div>

      </div>
    </div>
  </div>

  <div id="update-professional-details" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body">
          <form method="post" action="update_professional">

            <!-- User Details -->
            <div class="modal-header">
              <h3 class="modal-title">Update Professional Details</h3>
            </div>

            <!-- DOC ID-->
            <div class="form-row">

              <div class="form-group">
                <label>Licence No</label>
                <input class="form-control" id="update-doc" name="docid" type="text" readonly>
              </div>

              <!-- Qualification -->
              <div class="form-group col-md-6">
                <label>Qualification</label>
                <input type="text" name="qualification" class="form-control">
              </div> <!-- form-group end.// -->

            </div>

            <div class="form-row">

              <!-- Hospital -->
              <div class="form-group col-md-6">
                <label>Hospital</label>
                <input type="text" name="Hospital" class="form-control">
              </div> <!-- form-group end.// -->

              <!-- Position-->
              <div class="form-group col-md-6">
                <label>Department</label>
                <input type="text" name="department" class="form-control">
              </div><!-- form-group end.// -->

            </div> <!-- form-row.// -->

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary"> Update </button>
            </div> <!-- form-group// -->

          </form>

        </div>

      </div>
    </div>
  </div>

  <div id="update-history" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body">
          <form method="post" action="update_history">

            <!-- User Details -->
            <div class="modal-header">
              <h3 class="modal-title">Update Medical Details</h3>
            </div>

            <div class="form-row">

              <!-- Weight -->
              <div class="form-group col-md-6">
                <label>Weight:</label>
                <input type="text" name="weight" class="form-control">
              </div> <!-- form-group end.// -->

              <!-- Height -->
              <div class="form-group col-md-6">
                <label>Height:</label>
                <input type="text" name="height" class="form-control">
              </div><!-- form-group end.// -->

            </div> <!-- form-row.// -->

            <div class="form-row">

              <!-- Blood Pressure -->
              <div class="form-group col-md-6">
                <label>Blood Pressure:</label>
                <input type="text" name="bp" class="form-control">
              </div> <!-- form-group end.// -->

              <!-- EMAIL-->

              <div class="form-group col-md-6">
                <label>Allergies:</label>
                <input type="text" name="allergies" class="form-control">
              </div> <!-- form-group end.// -->
            </div> <!-- form-row.// -->

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary"> Update </button>
            </div> <!-- form-group// -->

          </form>

        </div>

      </div>
    </div>
  </div>

  <div id="book-appointment" class="modal fade">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">

        <div class="modal-body">

          <!-- BOOK APPOINTMENT -->
          <div class="modal-header">
            <h3 class="modal-title">Book an Appointment</h3>
          </div>

          <form action="book_appointment" method="post">

            <div class="container mt-3">

              <div class="form-row">

                <div class="form-group col-md-6">
                  <label>Search for Doctors, Department or Hospital:</label>
                  <input class="form-control" id="myInput" type="text" placeholder="Search..">
                </div>

                <div class="form-group col-md-6">
                  <label>Your User Id:</label>
                  <input class="form-control" name="userid" type="text" value="<%= data1[0].userid %>" readonly>
                </div>
              </div>
              <br>

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Licence No.</th>
                    <th>Name</th>
                    <th>Hospital</th>
                    <th>Department</th>
                    <th>Select Date</th>
                    <th>Book Now</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                <tbody>
                  <%
                    if(data0.length>0) {
                      data0.forEach(function(data) {
                    %>
                  <tr>
                    <td><input class="form-control" type="text" name="docid" value="<%= data.docid %>" readonly></td>
                    <td>Dr. <%= data.fname %> <%= data.lname %></td>
                    <td><%= data.hospital %></td>
                    <td><%= data.department %></td>
                    <td><input class="form-control" type="text" id="consult-date" name="consultdate"></td>
                    <td><button type="submit" class="btn btn-primary"> Book </button></td>
                    <% })} %>
                </tbody>
              </table>

            </div>

          </form>

          <script>
            $(document).ready(function() {
              $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
          </script>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div> <!-- form-group// -->


        </div>
      </div>
    </div>
  </div>

  <div id="add-family" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body">
          <form method="post" action="add_family">

            <!-- Family Member -->
            <div class="modal-header">
              <h3 class="modal-title">Add a Family Member</h3>
            </div>

            <!-- USER ID-->
            <div class="form-row">

              <div class="form-group col-md-6">
                <label>User Id:</label>
                <input class="form-control" name="memberid" type="text" required>
              </div>

              <!-- Relation -->
              <div class="form-group col-md-6">
                <label>Relation:</label>
                <input type="text" name="type" class="form-control" required>
              </div> <!-- form-group end.// -->

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary"> Add </button>
            </div> <!-- form-group// -->

          </form>

        </div>
      </div>
    </div>
  </div>

  <div id="consult" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Family Member -->
        <div class="modal-header">
          <h3 class="modal-title">Consult</h3>
        </div>

        <div class="modal-body">
          <form method="post" action="consults">

            <!-- PATIENT ID-->
            <div class="form-row">

              <div class="form-group col-md-6">
                <label>Patient Id:</label>
                <input class="form-control" id="patientid" name="pid" type="text" readonly>
              </div>

              <!-- Consult Date -->
              <div class="form-group col-md-6">
                <label>Consult Date:</label>
                <input type="text" name="type" id="consultdate2" name="cdate" class="form-control" readonly>
              </div> <!-- form-group end.// -->

            </div>

            <!-- Consultation -->
            <div class="form-row">

              <!-- Prescriptions -->
              <div class="form-group col-md-6">
                <label>Prescriptions:</label>
                <input class="form-control" name="prescriptions" type="text">
              </div>

              <!-- Medical Tests -->
              <div class="form-group col-md-6">
                <label>Medical Tests:</label>
                <input type="text" name="medtests" class="form-control">
              </div> <!-- form-group end.// -->

            </div>

            <div class="form-row">
              <!-- Medical Tests -->
              <div class="form-group col-md-12">
                <label>Diagnosis:</label>
                <input type="textarea" name="diagnosis" class="form-control" required>
              </div> <!-- form-group end.// -->
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary"> Consult </button>
            </div> <!-- form-group// -->

          </form>

        </div>
      </div>
    </div>
  </div>

  <div id="add-relation" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-body">
          <form method="post" action="update_family">

            <!-- Family Member -->
            <div class="modal-header">
              <h3 class="modal-title">Add your Relation</h3>
            </div>

            <!-- USER ID-->
            <div class="form-row">

              <div class="form-group col-md-6">
                <label>User Id:</label>
                <input class="form-control" id="memid" name="memberid" type="text" readonly>
              </div>

              <!-- Relation -->
              <div class="form-group col-md-6">
                <label>Relation:</label>
                <input type="text" name="type" class="form-control" required>
              </div> <!-- form-group end.// -->

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary"> Add </button>
            </div> <!-- form-group// -->

          </form>

        </div>
      </div>
    </div>
  </div>

</body>

</html>
