<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>

  <!-- bootstrap -->
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

  <h1>Work Details</h1>
  <hr />

  <a class="btn btn-primary" href="dashboard" role="button">Personal Details</a>
  <a class="btn btn-primary" href="professional_details" role="button">Professional Details</a>
  <a class="btn btn-primary" href="patient_details" role="button">Patient Details</a>
  <a class="btn btn-primary" href="medical_details" role="button">Medical History</a>

  <table>
    <tr>
      <td>License No: </td>
      <td><%=data[0].docid%> <%=data[0].lname%></td>
    </tr>
    <tr>
      <td>Qualification: </td>
      <td><%=data[0].qualification%></td>
    </tr>
    <tr>
      <td>Hospital: </td>
      <td><%=data[0].hospital%></td>
    </tr>
    <tr>
      <td>Department: </td>
      <td><%=data[0].department%></td>
    </tr>
  </table>
  <hr>

  <a class="btn btn-primary" href="/logout" role="button">Logout</a>

</body>

</html>
